.legal-wrapper {
  position: relative;
  min-height: 50vh;
  
  nav.with-background-legal.with-light-bg {
    @include media-breakpoint-down(lg) {
      &:before {
        content: '';
        position: absolute;
        top: 0;
        display: block;
        height: 100%;
        background: $public-light-bg;
        z-index: 0;
        left: -2.5rem;
        width: calc(100% + 5rem);
      }
    }
    
    @include media-breakpoint-down(sm) {
      &:before {
        left: -1.5rem;
        width: calc(100% + 3rem);
      }
    }
    
    .navbar-toggler {
      height: $size48;
      z-index: 1;
      
      > h3 {
        font-weight: 600;
        font-size: $size20;
        
        @include media-breakpoint-up(md) {
          font-size: $size24;  
        }
      }
      
      &:focus {
        outline: none;
      }

      &:after {
        content: '';
        display: block;
        height: 12px;
        width: 20px;
        background: url('../svg/general/arrow-dropdown.svg') no-repeat;
        transition: transform 0.5s;
      }

      &.show {
        &:after {
          transform: rotate(180deg);
          transition: transform 0.5s;
        }
      }
    }
  }

  #tabsMenu {
    border-right: 1px solid $gray-2;
    
    @include media-breakpoint-up(lg) {
      min-height: calc(100vh - 14rem);
    }

    .nav {
      &.nav-tabs {
        display: block;
        border-bottom: none;
      }

      .nav-item {
        .nav-link {
          font-size: $size32;
          font-weight: 400;
          opacity: 0.2;
          padding: $size16 $size24;
          border: none;
          border-radius: 0;
          cursor: pointer;
          line-height: 1;
          height: $size64;
          color: $body-color;

          &.active {
            opacity: 1;
            background-color: $gray-1;
            color: $public-text;
          }

          @include media-breakpoint-down(lap) {
            font-size: $size24;
            line-height: normal;
          }

          @include media-breakpoint-down(md) {
            opacity: 1;
            height: auto;
            padding: $size16 $size40;

            &.active {
              display: none;
            }
          }

          @include media-breakpoint-down(sm) {
            font-size: $size16;
            padding: $size16 $size24;
          }
        }
      }
    }
    
    @include media-breakpoint-down(lg) {
      position: absolute;
      z-index: 1;
      top: 2.5rem;
      left: -2.5rem;
      width: calc(100% + 5rem);
      
      .nav-tabs {
        background: $public-light-bg;
        box-shadow: 0 4px 4px 0 rgba(49,54,56,0.2);
      }
    }
    
    @include media-breakpoint-down(sm) {
      left: -1.5rem;
      width: calc(100% + 3rem);
    }
  }

  .tab-content {
    display: block;

    .tab-pane {
      font-weight: 300;
      color: $public-light-gray;
      font-size: $size20;
      max-height: 71vh;
      overflow-y: auto;
      overflow-x: hidden;
      
      @include media-breakpoint-up(lg) {
        max-height: 76vh;  
      }

      h3 {
        color: $public-text;
        font-size: $size32;
        margin-bottom: $size24;
      }
    }
  }
}